/* general */
body{
    font-family: 'Public Sans', sans-serif;
}
/* header */
.nav_1 img{
    width: 5rem;
}
.nav_2 .chevron{
    width:.5rem;
}
/* main******************* */
/* hero_image */
#hero_image{
    margin-top: 106px;
}
#hero_image>img{
    width: 100%;
}
.container_banner{
    top: 50%;
    left: 3%;
}
.banner_returnal img{
   width: 200px;
}
/* utility */
.orange_bk{
    background-color:#CD3D0F ;
}
.blue_bk{
    background-color: #2D64E6;
}
.dark_blue_bk{
    background-color:#161C3B ;
}
.blue_txt{
    color: #2D64E6;
}
