/* general */
body{
    font-family: 'Public Sans', sans-serif;
}
/* header */
.nav_1 img{
    width: 5rem;
}
.nav_2 .chevron{
    width:.5rem;
}
/* main******************* */
/* hero_image */
#hero_image{
    margin-top: 106px;
    background-image: url(./img2/jumbo-bg.png);
}
.banner{
    padding-top: 250px;
}
.banner img{
   width: 200px;
}
/* secondary image */
.secondary_game img,#new_game_list img{
    border-radius: 10%;
}
#how_made img,#new_game_list img,#explore img,#discount img,#social img{
    width: 100%;
}
.secondary_game div:first-child img{
    border: 2px solid #2D64E6;
    padding: 2px;
}
/* elenco prodotti */
.products div:first-child{
    border-bottom: 3px solid #2D64E6;
}
/* co-op games */
#co_op_game{
    background-image: url(./img2/it-takes-two-hero-banner-desktop.jpg);
}
.it_takes_logo{
    top: 3rem;
}
.it_takes_logo img{
    width:250px;
}
/* lista nuovi giochi */
#new_game_list{
    background-color: #1F1F1F;
}
/* playstation plus */
#ps_plus{
    background-color: #BEBCBB;
}
#ps_plus img,#ps_now .col-md-6:first-child img{
    width: 400px;
}
#ps_plus .container{
    padding: 100px 0;
}
#ps_plus img:last-child{
    top: 0;
    right: 1%;
    height: 100%;
    width: auto;
}
/* play station now */
#ps_now{
    background-color: #161C3B;
}
#ps_now .hidden_image img{
    width: 100%;
}
/* footer********************* */
footer .fa-playstation{
    font-size: 100px;
}
.logo_sie{
    width: 100px;
}
/* utility */
.background_position{
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
}
.orange_bk{
    background-color:#CD3D0F!important ;
}
.blue_bk{
    background-color: #2D64E6!important;
}
.dark_blue_bk{
    background-color:#00439C;
}
.blue_txt{
    color: #2D64E6;
}
.light_bk{
    background-color: #D9DADC;
}
/* effettistica */
/* navbar */
nav li:hover{
    color: #2D64E6;
    cursor: pointer;
}
#nav_bar .hidden_menu{
    display: flex;
    position: absolute;
    left: 0;
    background-color: white;
    width: 100vw;
    visibility: hidden;
}
#nav_bar li:focus .hidden_menu{
    visibility: visible;
}
/* mediaquery */
@media screen and ( max-width :1024px){
    #ps_plus img:last-child,#ps_now .hidden_image{
        display: none;
    }
}