/* general */
body{
    font-family: 'Public Sans', sans-serif;
}
/* header */
.nav_1 img{
    width: 5rem;
}
.nav_2 .chevron{
    width:.5rem;
}
/* main******************* */
/* hero_image */
#hero_image{
    margin-top: 106px;
    background-image: url(./img2/jumbo-bg.png);
    background-size: cover;
    background-position: center;
}
.banner_returnal{
    padding-top: 250px;
}
.banner_returnal img{
   width: 200px;
}
/* secondary image */
.secondary_game img{
    border-radius: 10%;
}
#how_made img{
    width: 100%;
}
.secondary_game div:first-child img{
    border: 2px solid #2D64E6;
    padding: 2px;
}
/* elenco prodotti */
.products div:first-child{
    border-bottom: 3px solid #2D64E6;
}
/* utility */
.orange_bk{
    background-color:#CD3D0F!important ;
}
.blue_bk{
    background-color: #2D64E6!important;
}
.dark_blue_bk{
    background-color:#161C3B ;
}
.blue_txt{
    color: #2D64E6;
}
